@import "tailwindcss";

:root {
  --background: #ffffff;
  /* Propi palette */
  --propi-green: #00b66b;
  --propi-green-light: #cdffe7;
  --propi-title: #212121;
  --propi-description: #424242;
  --propi-grey: #757575;
  --propi-grey-light: #eeeeee;
}

@theme inline {
  --color-background: var(--background);
  --color-propi-green: var(--propi-green);
  --color-propi-green-light: var(--propi-green-light);
  --color-propi-title: var(--propi-title);
  --color-propi-description: var(--propi-description);
  --color-propi-grey: var(--propi-grey);
  --color-propi-grey-light: var(--propi-grey-light);
  --font-sans: var(--font-mena-grotesk);
  --font-mono: var(--font-nunito);
}

body {
  background: var(--background);
  font-family: var(--font-mena-grotesk), sans-serif;
}
